<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang chi tiết sản phẩm</h1>
        <p>Sử dụng Bootstrap</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouseExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let image of product?.product_images; let i = index" [ngClass]="{'active': i === currentImageIndex}">
                        <div class="square-image">
                            <img [src]="image.image_url"
                                alt="Product Image" class="product-image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouseExample"
                        data-bs-slide="prev" (click)="priviousImage()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouseExample"
                        data-bs-slide="next" (click)="nextImage()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="row">
                    <div class="thumbnail-container">
                        <div class="thumbnail-item" *ngFor="let image of product?.product_images; let i = index"
                        [ngClass]="{'active': i === currentImageIndex}" (click) = "thumnailClick(i)">
                            <img [src]="image.image_url"
                                alt="Thumbnail Image" class="thumbnail-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h2>{{ product?.name}}</h2>
                <p>{{ product?.description}}</p>
                <p>Giá: ${{ product?.price}}</p>
                <div class="product-actions">
                    <button class="btn btn-primary" (click)="addToCart()">Thêm sản phẩm</button>
                    <button class="btn btn-success">Mua sản phẩm</button>
                </div>
                <div class="product-quantity">
                    <!-- Tạo khung viền -->
                    <div class="border-wrapper">
                        <button (click)="decreaseQuantity()">-</button>
                        <input type="text" [value]= "quantity">
                        <button (click)="increaseQuantity()">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>